*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.barrel {
	overflow: hidden;
}
.barrel .barrel-item {
	float: left;
	margin: 4px;
	border: 1px solid #eee;
	box-sizing: content-box;
	overflow: hidden;
	position: relative;
}
.barrel .barrel-item img {
	display: block;
	width: auto;
	height: 100%;
}