* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

.waterfall{
	overflow: hidden;
}

.waterfall .waterfall-item {
	width: 20%;
	float: left;
	padding:4px;
	overflow:hidden;
}
@media(max-width: 1000px){
	.waterfall .waterfall-item{
		width:25%;
	}
}
@media(max-width: 500px){
	.waterfall .waterfall-item{
		width:33.33%;
	}
}

.waterfall .waterfall-item img {
	border:1px solid #eee;
	display: block;
	width:100%;
	height:auto;
}
